// fonts
$baseFont: 'Poppins', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$gray1: #f0e3ff;
$gray2: #807e81;
$red1: #e42113;
$red2: #cc1b0e;

// z-indexes
$backdrop: 999;
$modal: 1000;
$preloader: 10000;
