@import "assets/scss/variables";

.NavbarLink {
  display: block;
  color: $white;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &.active {
    font-weight: 700;
  }
}
