@import 'assets/scss/variables';

.pagination {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.item {
  display: flex;
  border: 1px solid currentColor;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  color: $red1;

  &:hover {
    cursor: pointer;
    color: darken($red1, 7%);
  }
}

.active {
  border: 1px solid $red1;
  background-color: $red1;
  color: $white;

  &:hover {
    cursor: default;
    color: $white;
  }
}

.ellipsis {
  color: $red1;
}
