@import 'assets/scss/variables';

.pagination {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  border: 1px solid $red1;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  color: $red1;
}

.active {
  background-color: $red1;
  color: $white;
}
